/* @import url(../styles/global.css); */

/* #calendar {
    height: 45%;
} */

.bg-info {
    background-color: #E9E0D7;
}

.form-inline2 {
    display: none;
}

.calendar-container {
    text-align: center;
}