@import url(../styles/global.css);

#expenses {
    height: 90%;
}

.btn {
    border-width: 0;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    color: white;
    line-height: 50px;
    text-align: center;
}

.create_btn {
    background-color: rgb(145, 235, 145);
    display:block;
}

#expensetable {
   display:none; 
}

.add_btn {
    border-radius: 0px;
    width: 600px;
    height: 50px;
    background-color: rgb(246,246,246);
    color:black;
}

.del_select_btn {
    background-color: rgb(174, 216, 229);
    display:none;
}

.del_budget_btn {
    background-color: red;
    display:none;
}

table {
    background-color: rgb(155,155,155);
    text-align: center;
    width: 600px;
}

table th {
    background-color: rgb(246,246,246);
}

table td {
    background-color: rgb(246,246,246);
}

