@import url(../styles/global.css);
@import url(../styles/calendar.css);
@import url(../styles/expenses.css);
@import url(../styles/visualization.css);
@import url(../styles/reminders.css);
@import url(../styles/top-bar.css);




body {
    font-family: 'Roboto', sans-serif;
}

div.main-body {
    display: grid;   
    height: 100vh; 
    grid-template-columns: 3fr 1fr 2fr;
    grid-template: max-content;
}
/* make all text within divs green */
div {
    color: #99AA84
}
/* make all buttons the same color*/
.btn {
    background-color: #99AA84 !important ;
    color: #FBFAF4 !important ;
}


/*
styling budget component
*/
table {
    color: #99AA84 !important;
}

table th {
    background-color: #E3E7D7 !important;
}

table td {
    background-color: #E3E7D7 !important;
}

