html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    margin: 0px;
    box-sizing: inherit;
    background-color: #FBFAF4;
    font-family: 'Roboto', sans-serif;
  }

  /* Apply Grid Layout to make all boxes even */
  .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
  }

  nav {
    margin-top: 20px;
  }

  #home {
    margin-left: 15px;
    padding: 10px 10px;
    background-color: #FBFAF4;
    color: #80916d;
    text-decoration: none;
    border: #80916d solid 1px;
    border-radius: 15px;
  }
  
  .page-title{
    text-align: center;
    font-size: 200%;
    text-size-adjust: auto;
    color: #D1B9A4;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
  }

  .column {
    float: left;
    width: auto;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
      
    }
  }
  
  .card {
    background-color: #E3E7D7;
    box-shadow: 0 4px 8px 0 #99AA84;
  }
  
  .container {
    background-color: #E3E7D7;
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    background-color: #E3E7D7;
    content: "";
    clear: both;
    display: table;
  }
  
  .name{
    background-color: #E3E7D7;
    color: #80916d;
    margin: 10px 0;
  }

  .title {
    background-color: #E3E7D7;
    color: #D1B9A4;
    margin: 10px 0;
  }
   
  .description{
    background-color: #E3E7D7;
    color: #80916d;
    margin: 10px 0;
  }

  .email{
    background-color: #E3E7D7;
    color: #80916d;
    margin: 10px 0;
  }

  .github{
    background-color: #E3E7D7;
    color: #80916d;
    width: auto;
    margin: 10px 0;
  }


  