@import url(../styles/global.css);

#top-bar {
    background-color: #80916d;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-logo {
    font-size: 2.5rem;
    font-weight: 1000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #80916d
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:  #FBFAF4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #E9E0D7;
  }

  .active {
    background-color: #D1B9A4;
  }