@import url(../styles/global.css);

#budget {
    height: 25%;
    /*background-color: #FBFAF4;*/
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

#visualization {
    height: 65%;
    /*background-color: #E9E0D7;*/
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.budget-vis-container {
    background-color: #edf3f8;
    color: #495164;
    margin: 36px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}


div[class="budget-vis-container"] span[class="title"] {
    font-size: 1.0rem;
    width: auto;
    margin-top: 12px;
}


div[class="budget-vis-container"] span[class="textview"] {
    background-color:#fff;
    color: #495164;
    width: 12vw;
    border-radius: 0.7rem;
    padding:12px;
    font-size: 0.8rem;
    margin: 5px;
    outline: 1px solid #495164;
    text-align: right;
}

div[class="budget-vis-container"] input[class='total_amount_of_budget_input']{
    background-color:#fff;
    color: #495164;
    width: 12vw;
    border-radius: 0.7rem;
    padding:12px;
    font-size: 0.8rem;
    margin: 5px;
    outline: 1px solid #495164;
    text-align: right;
}

/* div[class="budget-vis-container"] button[class="budget_update"]{
    background-color:#fff;
    color: #495164;
    width: 12vw;
    border-radius: 0.7rem;
    padding:12px;
    font-size: 0.8rem;
    margin: 5px;
    outline: 1px solid #495164;
    text-align: center;
} */

/* button[id="view_chart"] {
    background-color: #495164;
    color: #fff;
    border:none;
    border-radius: 1.5rem;
    padding:12px;
    font-size: 0.8rem;
    margin: 5px;
} */

button[id="view_chart"]:hover {
    background-color: #252934;;
}

select[id="visualization_type"] {
    background-color:#fff;
    color: #495164;
    width: 12vw;
    border-radius: 0.7rem;
    padding:12px;
    font-size: 0.8rem;
    margin: 5px;
}

div[id="visualization_figure"] {
    width: 35vw;
    height: 20vw;
    display: none;
    margin: 8px;
}

img[id='visualization_character'] {
    width: 20vw;
    padding: 24px;
    background-color: #E9E0D7;
    /* To remove inline elements white-space. */
    display: block; 
}